<div class="main-content">
        {{>header}}
        <p>This site was created by Ysoul.It uses mapbox.com and OpenWeatherMap.org!</p>
        <img class='portrait' src="/img/about.jfif" >        
</div>        


{{>footer}}