<div class="main-content">
    {{>header}}
    <p>Use this site to get your weather!</p>
    <form>
    
   <input type="text" placeholder="Location" class="form-control">
   <button class='btn btn-primary form-control'>Search</button>
    </form>

    <p id="p1"></p>
    <p id="p2"></p>
    <p id="sunrise"></p>
    <p id="sunset"></p>
    <p class="ir"></p>


    <script src="/js/app.js"></script>
</div>

{{>footer}}