body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 20px;
    padding: 20px 0;
}

header {
    margin-top: 20px;
    margin-bottom: 48px;
}

.main-content {
    flex-grow: 1;
}
.main-content p {
    font-size: 18px;
    letter-spacing: 1.2px;
}

h1 {
    font-size: 64px;
    margin-bottom: 20px;
}

header a {
    color: #888888;
    margin-right: 20px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}




.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
} 

input.form-control {
    width: 80%;
    padding: 8px;
    margin: 40px 0 15px;
}

.btn-primary {
    padding: 6px;
    width: 80%;
}